.headerInfo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}
.headerBtn{
    background-color: rgb(255, 225, 171);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 800;
    transition: 0.5s ease;
}

.headerBtn:hover{
    background-color: orange;
}