.imgContainer{
    border: 3px solid gray;
    height: 530px;
    width: 300px;
    border-radius: 10px;
    position: relative;
}

.productInformation{
    padding-left: 15px;
}
.cartBtn{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 208, 119);
    border: none;
    padding: 10px;
    border-radius: 0 0 8px 8px;
}